<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8"/>
  <meta content="width=device-width,initial-scale=1" name="viewport"/>
  <meta th:name="_csrf" th:value="${_csrf.token}"/>
  <title>Bergwiesencamp | Adebar</title>
  <link rel="stylesheet" type="text/css" href="../../static/resources/css/bootstrap.min.css"
        th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
  <link rel="stylesheet" href="../../static/resources/css/bootstrap-select.min.css"
        th:href="@{/resources/css/bootstrap-select.min.css}"/>

  <link rel="stylesheet" type="text/css" href="../../static/resources/css/style.css"
        th:href="@{/resources/css/style.css}"/>
</head>
<body>

<!--/*@thymesVar id="#time" type="de.naju.adebar.infrastructure.thymeleaf.TimeFormatter"*/-->
<!--/*@thymesVar id="#email" type="de.naju.adebar.infrastructure.thymeleaf.EmailFormatter"*/-->
<!--/*@thymesVar id="event" type="de.naju.adebar.model.events.Event"*/-->
<!--/*@thymesVar id="processingService" type="de.naju.adebar.app.events.processing.EventDataProcessingService"*/-->
<!--/*@thymesVar id="addCounselor" type="de.naju.adebar.web.validation.events.organization.CounselorForm"*/-->
<!--/*@thymesVar id="editCounselor" type="de.naju.adebar.web.validation.events.organization.CounselorForm"*/-->
<!--/*@thymesVar id="matchingPersons" type="java.util.Collection<de.naju.adebar.model.persons.Person>"*/-->

<!-- central navigation -->
<nav th:replace="navigation :: topNav(page='events')"></nav>

<!-- page specific content-->
<main id="main">

  <a href="overview.html">
    <span class="glyphicon glyphicon-chevron-left"></span>
    Zurück zur Übersicht
  </a>

  <h1>Bergwiesencamp
    <small>(28.07. - 11.08.18)</small>
  </h1>

  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
      <a href="#overview" class="tab-controller" aria-controls="general" role="tab"
         data-toggle="tab">Übersicht</a>
    </li>
    <li role="presentation">
      <a href="#participants" class="tab-controller" aria-controls="participants"
         role="tab" data-toggle="tab">Teilnehmende</a>
    </li>
    <li role="presentation">
      <a href="#organization" class="tab-controller" aria-controls="organization" role="tab"
         data-toggle="tab">
        Organisation
      </a>
    </li>
    <li role="presentation">
      <a href="#accommodation" class="tab-controller" aria-controls="accommodation" role="tab"
         data-toggle="tab">Unterbringung</a>
    </li>
  </ul>

  <article class="tab-content">

    <!-- organization -->
    <div id="organization-details" class="tab-pane active container-fluid" role="tabpanel">


      <section id="content" class="display-category" th:fragment="details">

        <!-- add counselor failed dialog -->
        <div class="modal modal-error fade" id="add-counselor-failed-dialog" tabindex="-1"
             th:if="${#httpServletRequest.getParameter('add-counselor') == 'failed'}">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-body">
                <p>
                  <strong>Betreuer*in konnte nicht hinzugefügt werden:</strong>
                  die Person konnte im angegebenen Zeitraum nicht untergebracht werden.
                </p>
                <button type="button" class="btn btn-link" data-toggle="collapse"
                        data-target="#add-counselor-failed-description">
                  <span class="glyphicon glyphicon-question-sign"></span>
                  Warum?
                </button>
                <div class="collapse" id="add-counselor-failed-description">
                  <div class="well">
                    <p>
                      Der wahrscheinlichste Grund ist, dass für die Veranstaltung Betreuer*innen auf
                      die gleichen Zimmer wie die Teilnehmenden verteilt werden sollen. Offenbar
                      sind im angegebenen Zeitraum bereits alle Betten belegt.
                    </p>
                    <p>
                      Eventuell ist für den/die Betreuer*in auch kein Geschlecht angegeben. In dem
                      Fall weiß Adebar nicht, was für ein Bett für die Person verwendet werden soll
                      und kann ihn/sie überhaupt nicht einordnen - auch wenn theoretisch noch
                      genügend Betten verfügbar wären.
                    </p>
                  </div>
                </div>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                  OK
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="row">

          <!-- organizers -->
          <div class="col-md-6">
            <h2>Organisation</h2>

            <div class="alert alert-danger" th:if="${event.organizationInfo.hasLackOfOrganizers()}">
              Aktuell gibt es noch zu wenig Organisator*innen.
            </div>

            <ul class="list-group list-group-stand-out list-group-hover"
                th:if="${event.organizationInfo.hasOrganizers()}"
                th:remove="all-but-first">

              <li class="list-group-item padding-top-lg"
                  th:each="organizer : ${event.organizationInfo.organizers}">
                <div class="container-fluid">
                  <div class="row margin-btm">
                    <div class="col-md-8">
                      <div class="contact-header">
                        <span class="h4" th:text="${organizer.name}"></span>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="hidden">
                        <form method="post" id="delete-organizer"
                              th:id="|delete-organizer-${organizer.id}|"
                              th:action="@{/events/{id}/organizers/remove(id=${event.id})}">
                          <input type="hidden" name="person-id" th:value="${organizer.id}"/>
                        </form>
                      </div>
                      <div class="pull-right">
                        <a href="../persons/personDetails.html"
                           class="margin-right-lg"
                           th:href="@{/persons/{id}(id=${organizer.id})}">
                          <span class="glyphicon glyphicon-new-window"></span>
                          Zum Profil
                        </a>
                        <div class="btn-group btn-group-xs" th:unless="${event.canceled}">
                          <button type="submit" class="btn btn-danger"
                                  th:form="|delete-organizer-${organizer.id}|">
                            <span class="glyphicon glyphicon-trash"></span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="table-responsive">
                      <table class="table no-margin-btm">
                        <tbody>
                        <tr class="row">
                          <th class="col-md-1 text-right">
                            <span class="glyphicon glyphicon-phone"></span>
                          </th>
                          <td class="col-md-11" th:if="${organizer.hasPhoneNumber()}"
                              th:text="${organizer.phoneNumber}"></td>
                          <td class="col-md-11" th:unless="${organizer.hasPhoneNumber()}">
                            unbekannt
                          </td>
                        </tr>
                        <tr class="row">
                          <th class="col-md-1 text-right">
                            <span class="glyphicon glyphicon-envelope"></span>
                          </th>
                          <td class="col-md-11" th:if="${organizer.hasEmail()}">
                            <a href="mailto:" th:href="|mailto:${organizer.email}|"
                               th:text="${organizer.email}"></a>
                          </td>
                          <td class="col-md-11" th:unless="${organizer.hasEmail()}">
                            unbekannt
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </li>

            </ul>

            <!-- edit organizers menu -->
            <div class="clearfix" th:if="${event.organizationInfo.hasOrganizers()}">
              <div class="pull-right">

                <div class="btn-group btn-group-sm margin-right">
                  <button type="button" class="btn btn-default" data-toggle="modal"
                          data-target="#add-organizer-dialog" th:unless="${event.canceled}">
                    <span class="glyphicon glyphicon-plus"></span>
                    Hinzufügen
                  </button>
                </div>

                <a href="mailto:" class="btn btn-default btn-sm"
                   th:href="${#email.mailto(processingService.getOrganizerEmailAddresses(event))}">
                  <span class="glyphicon glyphicon-envelope"></span>
                  E-Mail an alle
                </a>

              </div>
            </div>

            <!-- no organizers view -->
            <div th:unless="${event.organizationInfo.hasOrganizers()}">
              Zur Zeit sind noch keine Organisator*innen bekannt.
              <div>
                <button type="button" class="btn btn-link no-padding" data-toggle="modal"
                        data-target="#add-organizer-dialog" th:unless="${event.canceled}">
                  <span class="glyphicon glyphicon-arrow-right"></span>
                  Jetzt hinzufügen
                </button>
              </div>
            </div>

            <!-- add organizer dialog -->
            <div class="modal fade" id="add-organizer-dialog" tabindex="-1">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Hinzufügen</h4>
                  </div>

                  <div class="modal-body">
                    <form class="container-fluid margin-top-lg person-search-container"
                          id="add-organizer-list" method="post"
                          th:action="@{/events/{id}/organizers/add(id=${event.id})}">
                      <div class="row">
                        <div class="col-md-3 no-margin-btm margin-top">
                          <label for="organizer-search" class="control-label">
                            Person suchen:
                          </label>
                        </div>
                        <div class="col-md-7">
                          <input type="search"
                                 class="form-control" id="organizer-search"
                                 name="person-search-query"
                                 placeholder="Name, E-Mail, Telefon oder Adresse"
                                 th:value="${param.do != null and param.do[0] == 'add-organizer'} ? ${param.search}"/>
                          <input type="hidden" name="return-action" value="add-organizer"/>
                        </div>
                        <div class="col-md-2">
                          <button type="submit" class="btn btn-primary"
                                  formmethod="get"
                                  th:formaction="@{/events/{id}/organizers/search(id=${event.id})}">
                            Los
                          </button>
                        </div>
                      </div>
                      <div class="row">
                        <p class="col-md-12 help-block">
                          Es kann sein, dass die Suche aktuell Probleme mit Umlauten
                          hat. In
                          so einem Fall bitte einfach nur den Vornamen oder Nachnamen
                          verwenden.
                        </p>
                      </div>
                      <hr/>
                      <div class="panel panel-default"
                           th:if="${param.do != null and param.do[0] == 'add-organizer' and matchingPersons != null and not matchingPersons.empty}">
                        <div class="panel-heading">
                          <h5 class="panel-title">Ergebnisse</h5>
                        </div>
                        <ul class="list-group">
                          <li class="list-group-item"
                              th:each="match : ${matchingPersons}" th:inline="text">
                            <div class="radio">
                              <label>
                                <input type="radio" name="person-id"
                                       th:value="${match.id}"/>
                                [[${match.name}]]
                                <small>[[${match.email}]] [[${match.phoneNumber}]]</small>
                              </label>
                            </div>
                          </li>
                        </ul>
                      </div>

                      <div class="alert alert-info"
                           th:unless="${param.do != null and param.do[0] == 'add-organizer' and matchingPersons != null}">
                        Bitte nach der gewünschten Person suchen
                      </div>

                      <div class="alert alert-info"
                           th:if="${param.do != null and param.do[0] == 'add-organizer' and matchingPersons != null  and matchingPersons.empty}">
                        Keine Übereinstimmungen
                      </div>
                    </form>
                  </div>

                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                      Abbrechen
                    </button>
                    <button type="submit" form="add-organizer-list" class="btn btn-primary">
                      Hinzufügen
                    </button>
                  </div>

                </div>

              </div>
            </div>

          </div>

          <!-- counselors view -->
          <div class="col-md-6">
            <h2>Betreuende</h2>

            <ul class="list-group list-group-stand-out list-group-hover"
                th:if="${event.organizationInfo.hasCounselors()}"
                th:remove="all-but-first">

              <li class="list-group-item padding-top-lg counselor"
                  th:each="counselor : ${event.organizationInfo.counselorList}"
                  th:with="counselorInfo = ${event.organizationInfo.getCounselors().get(counselor)}"
                  th:attrappend="data-counselor=${counselor.id}">
                <div class="container-fluid">
                  <div class="row margin-btm">
                    <div class="col-md-8">
                      <div class="contact-header">
                        <span class="h4" th:text="${counselor.name}"></span>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="hidden">
                        <form method="post" id="delete-counselor"
                              th:id="|delete-counselor-${counselor.id}|"
                              th:action="@{/events/{id}/counselors/remove(id=${event.id})}">
                          <input type="hidden" name="person-id" th:value="${counselor.id}"/>
                        </form>
                      </div>
                      <div class="pull-right">
                        <a href="../persons/personDetails.html"
                           class="margin-right-lg"
                           th:href="@{/persons/{id}(id=${counselor.id})}">
                          <span class="glyphicon glyphicon-new-window"></span>
                          Zum Profil
                        </a>
                        <div class="btn-group btn-group-xs" th:unless="${event.canceled}">
                          <button type="button" class="btn btn-default" data-toggle="modal"
                                  data-target="#edit-counselor-dialog">
                            <span class="glyphicon glyphicon-pencil"></span>
                          </button>
                          <button type="submit" class="btn btn-danger"
                                  th:form="|delete-counselor-${counselor.id}|">
                            <span class="glyphicon glyphicon-trash"></span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="table-responsive">
                      <table class="table no-margin-btm">
                        <tbody>
                        <tr class="row">
                          <th class="col-md-1 text-right">
                            <span class="glyphicon glyphicon-phone"></span>
                          </th>
                          <td class="col-md-11" th:if="${counselor.hasPhoneNumber()}"
                              th:text="${counselor.phoneNumber}"></td>
                          <td class="col-md-11" th:unless="${counselor.hasPhoneNumber()}">
                            unbekannt
                          </td>
                        </tr>
                        <tr class="row">
                          <th class="col-md-1 text-right">
                            <span class="glyphicon glyphicon-envelope"></span>
                          </th>
                          <td class="col-md-11" th:if="${counselor.hasEmail()}">
                            <a href="mailto:" th:href="|mailto:${counselor.email}|"
                               th:text="${counselor.email}"></a>
                          </td>
                          <td class="col-md-11" th:unless="${counselor.hasEmail()}">
                            unbekannt
                          </td>
                        </tr>
                        <tr class="row">
                          <th class="col-md-1 text-right">
                            <span class="glyphicon glyphicon-credit-card"></span>
                          </th>
                          <td class="col-md-11"
                              th:if="${counselor.activistProfile.hasValidJuleica()}"
                              th:inline="text">
                            Juleica gültig bis
                            [[${{counselor.activistProfile.juleicaCard.expiryDate}}]]
                          </td>
                          <td class="col-md-11"
                              th:if="${counselor.activistProfile.hasJuleica()} and ${counselor.activistProfile.juleicaCard.expired}"
                              th:inline="text">
                            Juleica lief ab am
                            [[${{counselor.activistProfile.juleicaCard.expiryDate}}]]
                          </td>
                          <td class="col-md-11"
                              th:unless="${counselor.activistProfile.hasJuleica()}">
                            keine Juleica
                          </td>
                        </tr>
                        <tr class="row" th:if="${event.participationInfo.hasArrivalOptions()}">
                          <th class="col-md-1 text-right">
                            <span class="glyphicon glyphicon-plane"></span>
                          </th>
                          <td class="col-md-11 arrival departure" th:inline="text"
                              th:attrappend="data-arrival-option=${counselorInfo.arrivalOption}, data-departure-option=${counselorInfo.departureOption}">
                            Anreise von <strong>[[${counselorInfo.arrivalOption}]]</strong>;
                            Abreise nach
                            <strong>[[${counselorInfo.departureOption}]]</strong>
                          </td>
                        </tr>
                        <tr class="row participation-time"
                            th:if="${event.participationInfo.flexibleParticipationTimesEnabled}"
                            th:attrappend="data-first-night=${#time.formatNightAsHtml(event.startTime, counselorInfo.participationTime.firstNight)}, data-last-night=${#time.formatNightAsHtml(event.startTime, counselorInfo.participationTime.lastNight)}">
                          <th class="col-md-1 text-right">
                            <span class="glyphicon glyphicon-calendar"></span>
                          </th>
                          <td class="col-md-11" th:inline="text">
                            Teilnahmezeitraum:
                            <strong>
                              [[${#time.formatTimeSpan(event.startTime,counselorInfo.participationTime)}]]
                            </strong>
                          </td>
                        </tr>
                        <tr class="row" th:if="${counselorInfo.hasRemarks()}">
                          <th class="col-md-1 text-right">
                            <span class="glyphicon glyphicon-grain"></span>
                          </th>
                          <td class="col-md-11 remarks"
                              th:utext="${#strings.replace( #strings.escapeXml( counselorInfo.remarks ),T(java.lang.System).getProperty('line.separator'),'&lt;br /&gt;')}"></td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </li>

            </ul>

            <!-- edit counselors menu -->
            <div class="clearfix" th:if="${event.organizationInfo.hasCounselors()}">
              <div class="pull-right">

                <div class="btn-group btn-group-sm margin-right">
                  <button type="button" class="btn btn-default" data-toggle="modal"
                          data-target="#add-counselor-dialog" th:unless="${event.canceled}">
                    <span class="glyphicon glyphicon-plus"></span>
                    Hinzufügen
                  </button>
                </div>

                <a href="mailto:" class="btn btn-default btn-sm"
                   th:href="${#email.mailto(processingService.getCounselorEmailAddresses(event))}">
                  <span class="glyphicon glyphicon-envelope"></span>
                  E-Mail an alle
                </a>

              </div>
            </div>

            <!-- no counselors view -->
            <div th:unless="${event.organizationInfo.hasCounselors()}">
              Zur Zeit sind noch keine Betreuer*innen bekannt.
              <div>
                <button type="button" class="btn btn-link no-padding" data-toggle="modal"
                        data-target="#add-counselor-dialog" th:unless="${event.canceled}">
                  <span class="glyphicon glyphicon-arrow-right"></span>
                  Jetzt hinzufügen
                </button>
              </div>
            </div>

            <!-- add counselor dialog -->
            <div class="modal fade modal-tabbed" id="add-counselor-dialog" tabindex="-1"
                 role="dialog">
              <div class="modal-dialog modal-lg" role="document">
                <form id="add-participant" method="post" class="modal-content"
                      th:object="${addCounselor}"
                      th:action="@{/events/{id}/counselors/add(id=${event.id})}">

                  <input type="hidden" name="return-action" value="add-counselor"/>

                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title">Betreuer*in hinzufügen</h3>
                  </div>

                  <div class="modal-body">
                    <div class="container-fluid">

                      <div class="row">
                        <div class="jumbotron padding-md">
                          <div class="container">
                            <div class="row">
                              <div class="col-md-7"
                                   th:classappend="${param.search == null} ? 'strong'">
                                <span class="badge">1.</span> Betreuer*in suchen
                              </div>
                              <div class="col-md-5"
                                   th:classappend="${param.search != null} ? 'strong'">
                                <span class="badge">2.</span> weitere Infos angeben
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row">

                        <!-- person search -->
                        <div class="col-md-8">

                          <div class="container-fluid person-search-container">
                            <div class="row">
                              <div class="col-md-4 no-margin-btm margin-top">
                                <label for="counselor-search" class="control-label">
                                  Person suchen:
                                </label>
                              </div>
                              <div class="col-md-6">
                                <input type="search"
                                       class="form-control" id="counselor-search"
                                       name="person-search-query"
                                       placeholder="Name, E-Mail, Telefon od. Adresse"
                                       th:value="${param.do != null and param.do[0] == 'add-counselor'} ? ${param.search}"/>
                              </div>
                              <div class="col-md-2">
                                <button type="submit" class="btn btn-primary"
                                        formmethod="post"
                                        th:formaction="@{/events/{id}/counselors/search(id=${event.id})}">
                                  Los
                                </button>
                              </div>
                            </div>
                            <div class="row">
                              <p class="col-md-12 help-block">
                                Es kann sein, dass die Suche aktuell Probleme mit Umlauten hat.
                                In so einem Fall bitte einfach nur den Vornamen oder Nachnamen
                                verwenden.
                              </p>
                            </div>
                            <hr/>
                            <div class="panel panel-default"
                                 th:if="${param.do != null and param.do[0] == 'add-counselor' and matchingPersons != null and not matchingPersons.empty and newPerson == null}">
                              <div class="panel-heading">
                                <h5 class="panel-title">Ergebnisse</h5>
                              </div>
                              <ul class="list-group">
                                <li class="list-group-item"
                                    th:each="match : ${matchingPersons}" th:inline="text">
                                  <div class="radio">
                                    <label>
                                      <input type="radio" name="counselor"
                                             th:value="${match.id}"/>
                                      [[${match.name}]]
                                      <small>[[${match.email}]] [[${match.phoneNumber}]]</small>
                                    </label>
                                  </div>
                                </li>
                              </ul>
                            </div>

                            <!-- no search -->
                            <div class="alert alert-info"
                                 th:unless="${param.do != null and param.do[0] == 'add-counselor' and matchingPersons != null}">
                              Bitte nach der gewünschten Person suchen
                            </div>

                            <!-- no matches -->
                            <div class="alert alert-info"
                                 th:if="${param.do != null and param.do[0] == 'add-counselor' and matchingPersons != null  and matchingPersons.empty}">
                              <p>
                                Keine Übereinstimmungen
                              </p>

                            </div>

                          </div>

                        </div>

                        <!-- counselor info -->
                        <div class="col-md-4 modal-body-column">
                          <div class="form-group">
                            <label for="add-counselor-arrival" class="control-label">
                              Anreise
                            </label>
                            <div>
                              <select class="selectpicker" id="add-counselor-arrival"
                                      th:remove="all-but-first" th:field="*{arrival}">
                                <option th:each="opt : ${event.participationInfo.arrivalOptions}"
                                        th:value="${opt.description}" th:text="${opt.description}">
                                  gemeinsam ab DD
                                </option>
                                <option>gemeinsam ab C</option>
                              </select>
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="add-counselor-departure" class="control-label">
                              Abreise
                            </label>
                            <div>
                              <select class="selectpicker" id="add-counselor-departure"
                                      th:remove="all-but-first" th:field="*{departure}">
                                <option th:each="opt : ${event.participationInfo.arrivalOptions}"
                                        th:value="${opt.description}" th:text="${opt.description}">
                                  gemeinsam nach DD
                                </option>
                                <option>gemeinsam nach C</option>
                              </select>
                            </div>
                          </div>

                          <div th:if="${event.participationInfo.flexibleParticipationTimesEnabled}">
                            <hr/>

                            <div class="form-group">
                              <label for="add-counselor-participation-start-time"
                                     class="control-label">
                                Erste Übernachtung
                              </label>
                              <input type="date" class="form-control"
                                     id="add-counselor-participation-start-time"
                                     th:min="${#temporals.format(event.startTime, 'yyyy-MM-dd')}"
                                     th:max="${#temporals.format(event.endTime.minusDays(1), 'yyyy-MM-dd')}"
                                     th:field="*{firstNight}"/>
                            </div>
                            <div class="form-group">
                              <label for="add-counselor-participation-end-time"
                                     class="control-label">
                                Letzte Übernachtung
                              </label>
                              <input type="date" class="form-control"
                                     id="add-counselor-participation-end-time"
                                     th:min="${#temporals.format(event.startTime, 'yyyy-MM-dd')}"
                                     th:max="${#temporals.format(event.endTime.minusDays(1), 'yyyy-MM-dd')}"
                                     th:field="*{lastNight}"/>
                            </div>
                          </div>

                          <hr/>
                          <div class="form-group">
                            <label for="add-counselor-remarks" class="control-label">
                              Sonstiges
                            </label>
                            <textarea class="form-control" id="add-counselor-remarks"
                                      placeholder="Was ist sonst noch für *diese* Teilnahme wichtig?"
                                      th:field="*{remarks}"></textarea>
                          </div>

                        </div>
                      </div>
                    </div>

                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">
                        Abbrechen
                      </button>

                      <button type="submit" form="add-participant" class="btn btn-primary">
                        Hinzufügen
                      </button>
                    </div>
                  </div>

                </form>

              </div>
            </div>

            <!-- edit counselor dialog -->
            <div class="modal fade" id="edit-counselor-dialog" tabindex="-1">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title">Betreuer*in bearbeiten</h3>
                  </div>
                  <form method="post" class="modal-body" id="edit-counselor"
                        th:object="${editCounselor}"
                        th:action="@{/events/{id}/counselors/update(id=${event.id})}">
                    <input type="hidden" name="counselor" id="edit-counselor-id"/>

                    <div class="form-group">
                      <label for="edit-counselor-arrival" class="control-label">
                        Anreise
                      </label>
                      <div>
                        <select class="selectpicker" id="edit-counselor-arrival"
                                th:remove="all-but-first" th:field="*{arrival}">
                          <option th:each="opt : ${event.participationInfo.arrivalOptions}"
                                  th:value="${opt.description}" th:text="${opt.description}">
                            gemeinsam ab DD
                          </option>
                          <option>gemeinsam ab C</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="edit-counselor-departure" class="control-label">
                        Abreise
                      </label>
                      <div>
                        <select class="selectpicker" id="edit-counselor-departure"
                                th:remove="all-but-first" th:field="*{departure}">
                          <option th:each="opt : ${event.participationInfo.arrivalOptions}"
                                  th:value="${opt.description}" th:text="${opt.description}">
                            gemeinsam nach DD
                          </option>
                          <option>gemeinsam nach C</option>
                        </select>
                      </div>
                    </div>

                    <div th:if="${event.participationInfo.flexibleParticipationTimesEnabled}">
                      <hr/>

                      <div class="form-group">
                        <label for="edit-counselor-participation-start-time"
                               class="control-label">
                          Erste Übernachtung
                        </label>
                        <input type="date" class="form-control"
                               id="edit-counselor-participation-start-time"
                               th:min="${#temporals.format(event.startTime, 'yyyy-MM-dd')}"
                               th:max="${#temporals.format(event.endTime.minusDays(1), 'yyyy-MM-dd')}"
                               th:field="*{firstNight}"/>
                      </div>
                      <div class="form-group">
                        <label for="edit-counselor-participation-end-time"
                               class="control-label">
                          Letzte Übernachtung
                        </label>
                        <input type="date" class="form-control"
                               id="edit-counselor-participation-end-time"
                               th:min="${#temporals.format(event.startTime, 'yyyy-MM-dd')}"
                               th:max="${#temporals.format(event.endTime.minusDays(1), 'yyyy-MM-dd')}"
                               th:field="*{lastNight}"/>
                      </div>
                    </div>

                    <hr/>
                    <div class="form-group">
                      <label for="edit-counselor-remarks" class="control-label">
                        Sonstiges
                      </label>
                      <textarea class="form-control" id="edit-counselor-remarks"
                                placeholder="Was ist sonst noch für *diese* Teilnahme wichtig?"
                                th:field="*{remarks}"></textarea>
                    </div>
                  </form>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                      Abbrechen
                    </button>
                    <button type="submit" form="edit-counselor" class="btn btn-primary">
                      Speichern
                    </button>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>

      </section>

    </div>

  </article>

</main>

<form id="logout-user" method="POST" th:action="@{/logout}">
  <input type="hidden" name="csrf" th:value="csrf"/>
</form>

<script type="text/javascript" src="../../static/resources/js/jquery.min.js"
        th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script type="text/javascript" src="../../static/resources/js/bootstrap.min.js"
        th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script src="../../static/resources/js/bootstrap-select.min.js"
        th:src="@{/resources/js/bootstrap-select.min.js}"></script>
<script src="../../static/resources/js/init.js" th:src="@{/resources/js/init.js}"></script>
<script src="../../static/resources/js/formControls.js"
        th:src="@{/resources/js/formControls.js}"></script>

</body>
</html>
