<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <meta content="width=device-width,initial-scale=1" name="viewport"/>
  <meta th:content="${_csrf.token}" th:name="_csrf"/>
  <title>Veranstaltungen | Adebar</title>


  <link href="../../static/resources/css/bootstrap.min.css" rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
        type="text/css"/>
  <link href="../../static/resources/css/style.css" rel="stylesheet" th:href="@{/resources/css/style.css}"
        type="text/css"/>

  <link rel="shortcut icon" th:href="@{/resources/res/favicon.ico}"/>
</head>
<body>

<!-- central navigation -->
<nav th:replace="navigation :: topNav(page='events')"></nav>

<!-- page specific content-->
<main id="main">

  <header id="page-header">

    <div class="row margin-top-lg margin-btm-lg">
      <div class="col-md-4">
        <h1>Vergangene Veranstaltungen</h1>
      </div>

      <!-- menu -->
      <div class="action-bar col-md-8">
        <div class="row">
          <form class="col-md-8" id="event-search" method="get" th:action="@{/events/search}">
            <label class="sr-only" for="event-search">Suchen (Name, Datum, Ort)</label>
            <div class="input-group">
              <input class="form-control" id="search" name="query" placeholder="Name, Datum, Ort ..."
                     th:value="${param.query}" type="search"/>
              <div class="input-group-addon">
                <span aria-hidden="true" class="glyphicon glyphicon-search"></span>
              </div>
            </div>
          </form>
          <button class="sr-only" form="event-search" type="submit">Suche durchführen</button>
          <div class="col-md-4">
            <div class="btn-group">
              <a class="btn btn-default" href="addEvent.html" th:href="@{/events/add}">
                <span class="glyphicon glyphicon-plus"></span>
                Hinzufügen
              </a>
              <a class="btn btn-default" data-placement="bottom" data-title="Funktioniert bald wieder.. Versprochen!"
                 data-toggle="tooltip" disabled="disabled"
                 href="filterEvents.html"
                 th:href="@{/events/filter}">
                <span class="glyphicon glyphicon-filter"></span>
                <span class="hide-sm">Filtern</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </header>

  <div class="row display-category">

    <div class="table-responsive col-md-12" th:if="${events.hasContent()}">
      <table class="table table-striped table-hover">
        <thead></thead>
        <tbody th:remove="all-but-first">
        <tr class="row" th:each="event : ${events}" th:classappend="${event.canceled ? 'strike-through' : ''}|">
          <td class="col-md-1">
            <span class="glyphicon glyphicon-time" data-container="body" data-placement="bottom"
                  data-title="laufende Veranstaltung" data-toggle="tooltip"
                  th:if="${event.ongoing}"></span>
            <span class="glyphicon glyphicon-remove-sign text-danger" data-container="body" data-placement="bottom"
                  data-title="abgesagte Veranstaltung" data-toggle="tooltip"
                  th:if="${event.canceled}"></span>
          </td>
          <td class="col-md-3 strong">
            <a th:href="@{/events/{id}(id=${event.id})}">
              <strong th:text="${event.name}">
                Bergwiesencamp
              </strong>
            </a>
          </td>
          <td class="col-md-2"
              th:text="${#time.formatTimeSpan(event.getStartTime(), event.getEndTime())}">
            28.07.-11.08.18
          </td>
          <td class="col-md-2">
            <a class="label label-default"
               th:href="@{/localGroups/{id}(id=${event.localGroup.id})}"
               th:if="${event.forLocalGroup}"
               th:text="${event.localGroup.name}">
              NAJU Sachsen
            </a>
          </td>
          <td class="col-md-3" th:text="${event.place.city}">Oberwiesenthal</td>
          <td class="col-md-1">
            <a href="eventDetails.html" th:href="@{/events/{id}(id=${event.id})}">
              <span class="glyphicon glyphicon-new-window"></span>
              <span class="sr-only">Details</span>
            </a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="col-md-10 col-md-offset-1 margin-top-lg" th:unless="${events.hasContent()}">
      <div class="alert alert-info text-center">
        Keine Veranstaltungen gefunden
      </div>
    </div>

  </div>

  <div class="row display-category" th:if="${events.hasNext()} or ${events.hasPrevious()}">
    <nav class="clearfix col-md-12">
      <ul class="pager" th:unless="${param.query}" th:with="total = ${events.totalPages}">
        <li class="previous" th:if="${events.hasPrevious()}">
          <a th:href="@{/events/past(page=${events.previousPageable().pageNumber},size=${events.size})}">
            <span aria-hidden="true">&larr;</span> Später
          </a>
        </li>
        <li>
          <a th:href="@{/events}">Zu den aktuellen Veranstaltungen</a>
        </li>
        <li class="next" th:if="${events.hasNext()}">
          <a th:href="@{/events/past(page=${events.nextPageable().pageNumber},size=${events.size})}">
            Früher <span aria-hidden="true">&rarr;</span>
          </a>
        </li>
      </ul>
      <ul class="pager" th:if="${param.query}" th:with="total = ${events.totalPages}">
        <li class="previous" th:if="${events.hasPrevious()}">
          <a th:href="@{/events/search(page=${events.previousPageable().pageNumber},size=${events.size},query=${param.query})}">
            <span aria-hidden="true">&larr;</span> Später
          </a>
        </li>
        <li>
          <a th:href="@{/events/past}">Ältere Veranstaltungen anzeigen</a>
        </li>
        <li class="next" th:if="${events.hasNext()}">
          <a th:href="@{/events/search(page=${events.nextPageable().pageNumber},size=${events.size},query=${param.query})}">
            Früher <span aria-hidden="true">&rarr;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>

</main>
<script src="../../static/resources/js/jquery.min.js" th:src="@{/webjars/jquery/jquery.min.js}"
        type="text/javascript"></script>
<script src="../../static/resources/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"
        type="text/javascript"></script>
<script src="../../static/resources/js/init.js" th:src="@{/resources/js/init.js}"></script>
</body>
</html>
