<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width,initial-scale=1" name="viewport"/>
    <title>Personen | Adebar</title>
    <script type="text/javascript" src="../static/resources/js/jquery.min.js" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" src="../static/resources/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" type="text/css" href="../static/resources/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>

    <link rel="stylesheet" type="text/css" href="../static/resources/css/style.css" th:href="@{/resources/css/style.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/resources/css/animation.css" th:href="@{/resources/css/animation.css}"/>

    <script type="text/javascript" src="../static/resources/js/list.min.js" th:src="@{/resources/js/list.min.js}"></script>
    <script type="text/javascript" src="../static/resources/js/list.fuzzysearch.min.js" th:src="@{/resources/js/list.fuzzysearch.min.js}"></script>

    <link rel="stylesheet" type="text/css" href="../static/resources/css/bootstrap-datetimepicker.min.css" th:href="@{/resources/css/bootstrap-datetimepicker.min.css}" />
    <script type="text/javascript" src="../static/resources/js/moment-with-locales.min.js" th:src="@{/resources/js/moment-with-locales.min.js}"></script>
    <script type="text/javascript" src="../static/resources/js/bootstrap-datetimepicker.min.js" th:src="@{/resources/js/bootstrap-datetimepicker.min.js}"></script>

    <link rel="stylesheet" href="../static/resources/css/bootstrap-select.min.css" th:href="@{/resources/css/bootstrap-select.min.css}"/>
    <script src="../static/resources/js/bootstrap-select.min.js" th:src="@{/resources/js/bootstrap-select.min.js}"></script>
</head>
<body>

<!-- central navigation -->
<nav id="top-nav" class="navbar navbar-static-top navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav"
                    aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">NAJU Adebar</a>
        </div>

        <div id="main-nav" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li role="presentation">
                    <a href="overview.html" th:href="@{/overview}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Übersicht</a>
                </li>
                <li role="presentation" class="active">
                    <a href="persons.html" th:href="@{/persons}"><span class="glyphicon glyphicon-user nav-icon" aria-hidden="true"></span> Personen <span class="sr-only">(akutell)</span></a>
                </li>
                <li role="presentation">
                    <a href="events.html" th:href="@{/events}"><span class="glyphicon glyphicon-tent nav-icon" aria-hidden="true"></span> Veranstaltungen</a>
                </li>
                <li role="presentation">
                    <a href="localGroups.html" th:href="@{/localGroups}"><span class="glyphicon glyphicon-map-marker nav-icon" aria-hidden="true"></span> Ortsgruppen</a>
                </li>
                <li role="presentation">
                    <a href="newsletters.html" th:href="@{/newsletters}"><span class="glyphicon glyphicon-envelope nav-icon" aria-hidden="true"></span> Newsletter</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Verschiedenes <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li sec:authorize="hasRole('ROLE_ADMIN')">
                    <a href="accounts.html" th:href="@{/accounts}">
                      <span class="glyphicon glyphicon-dashboard"></span> Accounts
                    </a>
                  </li>
                  <li class="disabled"><a href="#"><span class="glyphicon glyphicon-leaf"></span> Über</a></li>
                  <li class="disabled"><a href="#"><span class="glyphicon glyphicon-globe"></span> Hilfe</a></li>
                  <li><a href="#"><span class="glyphicon glyphicon-flash"></span> Fehler melden</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <span class="glyphicon glyphicon-user"></span> <span sec:authentication="principal.associatedPerson.firstName">Anon</span>
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="settings.html" th:href="@{/settings}">
                      <span class="glyphicon glyphicon-cog"></span> Einstellungen
                    </a>
                  </li>
                  <li class="logout">
                    <button type="submit" form="logout-user">
                      <span class="glyphicon glyphicon-log-out"></span> Ausloggen
                    </button>
                  </li>
                </ul>
              </li>
            </ul>
        </div>
    </div>
</nav>

<!-- modal dialogs -->
<section>
    <h2 class="hidden">Dialoge</h2>

    <!-- 'edit person' modal -->
    <section id="edit-person-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="edit-person-label">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <header class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Schließen"><span aria-hidden="true">&times;</span></button>
                  <h3 id="edit-person-label" class="modal-title">Person bearbeiten</h3>
              </header>
              <section class="modal-body">
                  <form id="edit-person-form" class="form-horizontal" method="post" th:object="${editPersonForm}" th:action="@{'/persons/' + ${person.id} + '/edit'}">
                      <input type="hidden" name="participant" value="true" />
                      <div class="form-group">
                          <label for="edit-firstname" class="col-sm-3 control-label">Vorname</label>
                          <div class="col-sm-9">
                              <input type="text" id="edit-firstname" name="firstname" class="form-control" placeholder="Vorname" required="required" th:field="*{firstName}"/>
                          </div>
                      </div>
                      <div class="form-group">
                          <label for="edit-lastname" class="col-sm-3 control-label">Nachname</label>
                          <div class="col-sm-9">
                              <input type="text" id="edit-lastname" name="lastname" class="form-control" placeholder="Nachname" required="required" th:field="*{lastName}"/>
                          </div>
                      </div>
                      <div class="form-group">
                          <label for="edit-email" class="col-sm-3 control-label">E-Mail</label>
                          <div class="col-sm-9">
                              <input type="email" id="edit-email" name="email" class="form-control" placeholder="E-Mail" th:field="*{email}"/>
                          </div>
                      </div>
                      <div class="form-group">
                          <label for="phone" class="col-sm-3 control-label">Telefon</label>
                          <div class="col-sm-9">
                              <input type="text" id="phone" class="form-control" name="phone" placeholder="Telefonnummer" th:field="*{phoneNumber}" />
                          </div>
                      </div>
                      <div class="form-group">
                          <label for="edit-gender" class="col-sm-3 control-label">Geschlecht</label>
                          <div class="col-sm-9">
                              <fieldset id="edit-gender">
                                  <label class="radio-inline">
                                      <input type="radio" name="gender" value="FEMALE" required="required" checked="checked" th:field="*{gender}" />
                                      Weiblich
                                  </label>
                                  <label class="radio-inline">
                                      <input type="radio" name="gender" value="MALE" required="required" th:field="*{gender}" />
                                      Männlich
                                  </label>
                                  <label class="radio-inline">
                                      <input type="radio" name="gender" value="OTHER" required="required" th:field="*{gender}" />
                                      Anderes
                                  </label>
                              </fieldset>
                          </div>
                      </div>
                      <div class="form-group">
                          <label for="dob" class="col-sm-3 control-label">Geburtsdatum
                              <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="right" data-title="Format: DD.MM.YYYY"></span>
                          </label>
                          <div class="col-sm-9">
                              <div class="input-group date" id="dob-picker">
                                  <input type="text" class="form-control" name="dob" id="dob" placeholder="Geburtsdatum" th:field="*{dateOfBirth}"/>
                                  <span class="input-group-addon">
                                      <span class="glyphicon glyphicon-calendar"></span>
                                  </span>
                              </div>
                          </div>
                      </div>
                      <div class="form-group">
                          <label for="eatingHabit" class="col-sm-3 control-label">Ernährung</label>
                          <div class="col-sm-9">
                              <div class="margin-btm">
                                  <label class="no-decoration" style="vertical-align: sub;">Schnellauswahl:</label>
                                  <select id="eatingHabit-quick" class="selectpicker" data-width="auto">
                                      <option value="">konventionell</option>
                                      <option value="vegetarisch">vegetarisch</option>
                                      <option value="vegan">vegan</option>
                                  </select>
                              </div>
                              <div>
                                  <textarea class="form-control" name="eatingHabit" id="eatingHabit" placeholder="Essgewohnheiten (vegetarisch, Unverträglichkeiten...)" th:field="*{eatingHabit}"></textarea>
                              </div>
                          </div>
                      </div>
                      <div class="form-group">
                          <label for="healthImpairments" class="col-sm-3 control-label">Allergien o.ä.</label>
                          <div class="col-sm-9">
                              <textarea class="form-control" name="healthImpairments" id="healthImpairments"
                                  placeholder="Allergien" th:field="*{healthImpairments}"></textarea>
                          </div>
                      </div>
                      <div class="form-group">
                          <label for="add-person-address" class="col-sm-3 control-label">Adresse</label>
                          <div class="col-sm-9 address" id="add-person-address">
                              <input type="text" class="form-control street" name="street" placeholder="Straße, HNr." th:field="*{street}"/>
                              <input type="text" class="form-control zip" name="zip" placeholder="Plz" style="width: 30%; float: left;" th:field="*{zip}"/>
                              <input type="text" class="form-control city" name="city" placeholder="Stadt" style="width: 67%; float: right;" th:field="*{city}"/>
                          </div>
                      </div>
                      <div class="form-group">
                          <label for="add-person-remarks" class="col-sm-3 control-label">Bemerkungen
                              <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="right" data-title="Schwimmerlaubnis o.ä."></span>
                          </label>
                          <div class="col-sm-9">
                              <textarea class="form-control" name="remarks" id="remarks" placeholder="Bemerkungen (Schwimmerlaubnis ...)" th:field="*{remarks}" maxlength="512"></textarea>
                          </div>
                      </div>
                      <div class="form-group">
                          <label for="add-person-nabu" class="col-sm-3 control-label">NABU</label>
                          <div class="col-sm-9">
                              <div class="input-group" id="add-person-nabu">
                                  <label class="input-group-addon">
                                      <input type="checkbox" name="nabuMember" id="add-person-isNabuMember" th:field="*{nabuMember}" /> NABU-Mitglied
                                  </label>
                                  <input type="text" name="nabuNr" class="form-control" id="add-person-nabuNr" placeholder="Mitgliedsnr."  th:field="*{nabuNumber}" />
                              </div>
                          </div>
                      </div>
                  </form>
              </section>
              <footer class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
                  <form method="post" class="btn-group" th:action="@{'/persons/' + ${person.id} + '/delete'}">
                      <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-expanded="false" th:attrappend="disabled=${isActivist || isReferent}?'disabled'">
                         <span class="glyphicon glyphicon-trash"></span> Löschen <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu dropdown-menu-lg confirm-delete">
                         <li>
                             Die Person wird nicht mehr als Auswahloption als Teilnehmer für Veranstaltungen gelistet.
                             Die Daten verbleiben allerdings anonymisiert im System und werden für Auswertungen weiterhin hinzugezogen.
                         </li>
                         <li>
                            <button type="submit" class="btn btn-link">Löschen</button>
                         </li>
                      </ul>
                  </form>
                  <button type="submit" form="edit-person-form" class="btn btn-primary">Aktualisieren</button>
              </footer>
          </div>
      </div>
    </section>

    <!-- 'edit activist' modal -->
    <section id="edit-activist-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="edit-activist-label">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <header class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Schließen"><span aria-hidden="true">&times;</span></button>
                  <h3 id="edit-activist-label" class="modal-title">Aktiven bearbeiten</h3>
              </header>
              <section class="modal-body">
                  <form id="edit-activist-form" class="form-horizontal" method="post" th:object="${editActivistForm}" th:action="@{'/persons/' + ${person.id} + '/edit-activist'}">
                      <div class="form-group">
                          <label class="col-sm-2 control-label">Allgemein</label>
                          <div class="col-sm-10">
                              <div class="checkbox">
                                 <label><input type="checkbox" name="is-activist" id="edit-activist-isActivist" th:field="*{activist}"/> die Person ist ein Aktiver</label>
                             </div>
                         </div>
                     </div>
                     <div id="edit-activist-container">
                         <div class="form-group">
                             <label class="col-sm-2 control-label">JuLeiCa</label>
                             <div class="col-sm-10">
                                 <div class="checkbox">
                                     <label><input type="checkbox" name="has-juleica" id="edit-activist-hasJuleica" th:field="*{owningJuleica}"/> die Person hat eine JuLeiCa</label>
                                 </div>
                                 <div id="edit-activist-juleica" style="margin-top: 12px;">
                                     <div class="input-group date datetimepicker" id="edit-activist-juleica-picker">
                                         <input type="text" class="form-control" name="juleicaExpiryDate" placeholder="JuLeiCa-Ablaufdatum"
                                             data-toggle="tooltip" data-placement="left" data-title="Format: DD.MM.YYYY" th:field="*{juleicaExpiryDate}"/>
                                         <span class="input-group-addon">
                                             <span class="glyphicon glyphicon-calendar"></span>
                                         </span>
                                     </div>
                                 </div>
                             </div>
                         </div>
                         <div class="form-group">
                             <label class="col-sm-2 control-label">Ortsgruppe</label>
                             <div class="col-sm-10">
                                 <select class="selectpicker" name="localGroups" data-width="auto" multiple="multiple" th:remove="all-but-first" th:field="*{localGroups}">
                                     <option th:each="chapter : ${allChapters}" th:text="${chapter.name}" th:value="${chapter.id}">
                                         NAJU Dresden
                                     </option>
                                     <option>
                                         NAJU Freiberg
                                     </option>
                                     <option>
                                         NAJU Leipzig
                                     </option>
                                 </select>
                             </div>
                         </div>
                     </div>
                  </form>
              </section>
              <footer class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
                  <button type="submit" form="edit-activist-form" class="btn btn-primary">Aktualisieren</button>
              </footer>
          </div>
      </div>
    </section>

    <!-- 'add qualification' modal -->
    <section id="add-qualification-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="add-qualification-label">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <header class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Schließen"><span aria-hidden="true">&times;</span></button>
              <h3 id="add-qualification-label" class="modal-title">Qualifikation hinzufügen</h3>
            </header>
            <section class="modal-body row">
                <div class="col-md-4">
                  <ul class="nav nav-pills nav-stacked" id="add-qualification-tabs" role="tablist">
                    <li class="active" role="presentation"><a href="#add-qualification-tab-existing" aria-controls="add-qualification-tab-existing" role="tab" data-toggle="tab" data-tab="EXISTING">Existierende</a></li>
                    <li role="presentation"><a href="#add-qualification-tab-new" aria-controls="add-qualification-tab-new" role="tab" data-toggle="tab" data-tab="NEW">Neu</a></li>
                  </ul>
                </div>
                <div class="col-md-8">
                  <form id="add-qualification-form" class="form-horizontal tab-content" method="post" th:object="${addQualificationForm}" th:action="@{'/persons/' + ${person.id} + '/add-qualification'}">
                    <div role="tabpanel" class="tab-pane fade in active" id="add-qualification-tab-existing">
                      <label for="add-qualification-existing" class="sr-only">Qualifikation</label>
                      <select id="add-qualification-existing" class="selectpicker" data-live-search="true" th:field="*{qualification}" th:remove="all-but-first">
                        <option th:each="qualification : ${allQualifications}" th:text="${qualification.name}" th:value="${{qualification.name}}" th:field="*{qualification}">Erste-Hilfe-Kurs</option>
                        <option>Storchenkoffer</option>
                        <option>Öffentlichkeitsarbeit</option>
                      </select>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="add-qualification-tab-new">
                      <input type="text" class="form-control" placeholder="Name" style="margin-bottom: 3px;" th:field="*{name}" />
                      <textarea class="form-control" placeholder="Beschreibung" th:field="*{description}"></textarea>
                    </div>
                    <input type="hidden" name="addType" id="add-qualification-type" th:field="*{addType}" />
                  </form>
              </div>
            </section>
            <footer class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
              <button type="submit" form="add-qualification-form" class="btn btn-primary">Hinzufügen</button>
            </footer>
          </div>
        </div>
        <script>
          $('#add-qualification-modal').find('a[data-toggle="tab"]').on('shown.bs.tab', function(e) {
            $('#add-qualification-type').val(e.target.dataset.tab)
          })
        </script>
    </section>

    <!-- 'delete qualification' modal -->
    <section id="delete-qualification-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="delete-qualification-label">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <header class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-label="Abbrechen">
                  <span aria-hidden="true">&times;</span>
               </button>
               <h3 class="modal-title" id="delete-qualification-label">Qualifikation entfernen</h3>
            </header>
            <section class="modal-body">
               <form id="delete-qualification" method="post" th:action="@{'/persons/' + ${person.id} + '/qualifications/remove'}">
                  <label for="remove-qualifikation-name" class="sr-only">Qualifikation</label>
                  <input type="text" id="remove-qualifikation-name" class="form-control" name="name" readonly="readonly" value="Erste-Hilfe-Kurs" />
               </form>
           </section>
           <footer class="modal-footer">
               <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
               <div class="btn-group">
                  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     <span class="glyphicon glyphicon-trash"></span> Löschen <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu confirm-delete">
                     <li><button type="submit" class="btn btn-link" form="delete-qualification">Löschen</button></li>
                  </ul>
               </div>
           </footer>
         </div>
      </div>
  </section>

    <!-- 'add parent' modal -->
    <section id="connect-parent-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="connect-parent-label">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <header class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Schließen"><span aria-hidden="true">&times;</span></button>
                    <h3 id="connect-parent-label" class="modal-title">Elternteil registrieren</h3>
                </header>
                <div class="modal-body row">
                    <div class="col-md-3">
                        <ul id="connect-parent-tab-select" class="nav nav-pills nav-stacked" role="tablist">
                            <li role="presentation" class="active">
                                <a id="connect-parent-new-tab" href="#connect-parent-new" aria-controls="connect-parent-new" role="tab" data-toggle="tab">Neu</a>
                            </li>
                            <li role="presentation">
                                <a id="connect-parent-existing-tab" href="#connect-parent-existing" aria-controls="connect-parent-existing" role="tab" data-toggle="tab">
                                    Auswählen
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-9">
                        <div class="tab-content">
                            <div id="connect-parent-new" class="tab-pane fade in active" role="tabpanel">
                                <form class="form-horizontal" id="connect-parent-new-form" th:object="${addParentForm}" th:action="@{/persons/{id}/parents/add/new(id=${person.id})}">
                                    <div class="form-group">
                                        <label for="parent-firstname" class="col-sm-3 control-label">Vorname</label>
                                        <div class="col-sm-9">
                                            <input type="text" id="parent-firstname" name="firstname" class="form-control" placeholder="Vorname" required="required" th:field="*{firstName}" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="parent-lastname" class="col-sm-3 control-label">Nachname</label>
                                        <div class="col-sm-9">
                                            <input type="text" id="parent-lastname" name="lastname" class="form-control" placeholder="Nachname" th:field="*{lastName}" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="parent-email" class="col-sm-3 control-label">E-Mail</label>
                                        <div class="col-sm-9">
                                            <div class="input-group">
                                                <input type="email" id="parent-email" name="email" class="form-control" placeholder="E-Mail" th:field="*{email}" />
                                                <span class="input-group-addon">(optional)</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="parent-phone" class="col-sm-3 control-label">Telefon</label>
                                        <div class="col-sm-9">
                                            <div class="input-group">
                                                <input type="text" id="parent-phone" class="form-control" name="phone" placeholder="Telefonnummer" th:field="*{phoneNumber}" />
                                                <span class="input-group-addon">(optional)</span>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div id="connect-parent-existing" class="tab-pane fade" role="tabpanel">
                                <div class="form-group clearfix">
                                    <label class="col-sm-3 control-label">Person suchen</label>
                                    <div class="col-sm-9">
                                        <div class="clearfix" style="margin-bottom: 5px;">
                                            <input type="text" id="connect-parent-search-firstname" class="form-control pull-left first-name" style="width: 48%;" placeholder="Vorname" />
                                            <input type="text" id="connect-parent-search-lastname" class="form-control pull-right last-name" style="width: 48%;" placeholder="Nachname" />
                                        </div>
                                        <div class="clearfix">
                                            <input type="text" id="connect-parent-search-city" class="form-control pull-left city" style="width: 68%;" placeholder="Ort"/>
                                            <button type="button" id="connect-parent-search-btn" class="btn btn-primary pull-right search" style="padding-left: 20px; padding-right: 20px;">
                                                Suchen
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <hr style="width: 100%; margin-top:5px;"/>
                                <form id="connect-parent-person-select" class="form-horizontal" method="post" th:action="@{/persons/{id}/parents/add/existing(id=${person.id})}">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Geburtsdatum</th>
                                                <th>Adresse</th>
                                                <th>Auswählen</th>
                                            </tr>
                                        </thead>
                                        <tbody id="connect-parent-tablebody" class="matches" th:remove="body">
                                            <tr>
                                                <td>Max Mustermann</td>
                                                <td>31.02.1999</td>
                                                <td>Bei Mir 7 01234 Noch ein Dorf</td>
                                                <td class="text-center">
                                                   <label><input type="radio" name="person-id" value="0" required="required" /></label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Claus Dieter</td>
                                                <td>17.07.1993</td>
                                                <td>Zu Hause 123 01478 Irgendein Dorf</td>
                                                <td class="text-center">
                                                    <label><input type="radio" name="person-id" value="0" required="required" /></label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Friedlinde Müller</td>
                                                <td>11.11.1995</td>
                                                <td>Um die Ecke 3c 01597 Großstadt</td>
                                                <td class="text-center">
                                                    <label><input type="radio" name="person-id" value="0" required="required" /></label>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </form>
                                <div class="text-center searching">
                                    Suche läuft... <span class="glyphicon glyphicon-refresh glyphicon-load-animate"></span>
                                </div>
                                <div class="alert alert-info no-results">
                                    Keine Übereinstimmung
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <footer class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
                    <button type="submit" id="connect-parent-submit" class="btn btn-primary" form="connect-parent-new-form">Registrieren</button>
                </footer>
            </div>
        </div>
    </section>

</section>

<!-- page specific content-->
<main id="main">

    <!-- page specific menu items -->
    <header id="action-bar" class="form-inline clearfix">
        <h2 class="hidden">Menü</h2>

        <div class="pull-left" style="margin-top: 5px;">
            <a href="localGroupDetails.html" th:href="@{/persons}">
                <span class="glyphicon glyphicon-chevron-left"></span> Zurück zur Übersicht
            </a>
        </div>

        <!-- the actions at last -->
        <div id="actions" class="pull-right">

        </div>
    </header>

    <!-- the 'real' content finally -->
    <section id="content" class="tab-content" style="margin-top: 2em;">

            <h1>Personen Details</h1>

            <!-- status messages -->
            <section id="status">
                <h2 class="hidden">Status</h2>

                <div class="alert alert-danger alert-dismissible" role="alert" th:if="${deletionError}">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Schließen">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <p>
                        Die Person konnte nicht gelöscht werden. Vielleicht ist sie ein Aktiver oder Referent?
                    </p>
                </div>

                <div class="alert alert-danger alert-dismissible" role="alert" th:if="${impossibleKinship}">
                   <button type="button" class="close" data-dismiss="alert" aria-label="Schließen">
                      <span aria-hidden="true">&times;</span>
                   </button>
                   <p>
                      Elternteil und Kind sollten nicht übereinstimmen...<br />
                      Das wäre sonst ... gruselig ...
                   </p>
               </div>

            </section>

            <!-- person and activist overview -->
            <div class="row">

                <!-- person overview -->
                <div class="col-sm-7">
                    <section class="panel panel-primary">
                        <input type="hidden" id="person-is-nabu-member" value="true" th:value="${person.participant} AND ${person.participantProfile.nabuMember}" />
                        <header class="panel-heading clearfix">
                            <h2 class="panel-title pull-left" style="margin-top: 7.5px; margin-right: 2em;">Allgemeines</h2>
                            <div class="input-group pull-right" style="margin-left: 1em;">
                              <button type="button" class="btn btn-default" data-toggle="modal" data-target="#edit-person-modal"><span class="glyphicon glyphicon-pencil"></span> Anpassen</button>
                           </div>
                        </header>
                        <table class="table">
                            <tbody>
                                <tr class="row">
                                    <th class="col-sm-4"><span class="glyphicon glyphicon-user"></span> Name:</th>
                                    <td class="col-sm-8" th:text="${person.name}">Max Mustermann</td>
                                </tr>
                                <tr class="row">
                                    <th class="col-sm-4"><span class="glyphicon glyphicon-envelope"></span> E-Mail Adresse:</th>
                                    <td class="col-sm-8">
                                        <a href="mailto:max_muster@aol.com" th:href="'mailto:' + ${person.email}" th:text="${person.email}">max_muster@aol.com</a>
                                    </td>
                                </tr>
                                <tr class="row">
                                    <th class="col-sm-4"><span class="glyphicon glyphicon-phone"></span> Telefonnummer:</th>
                                    <td class="col-sm-8" th:text="${person.phoneNumber}">
                                        01234 56789123
                                    </td>
                                </tr>
                                <tr class="row">
                                    <th class="col-sm-4"><span class="glyphicon glyphicon-home"></span> Adresse:</th>
                                    <td class="col-sm-8" th:text="|${person.address.street} ${person.address.zip} ${person.address.city}|">Zu Hause 15, 01234 Entenhausen</td>
                                </tr>
                                <tr class="row" th:if="${person.participant}">
                                    <th class="col-sm-4"><span class="glyphicon glyphicon-calendar"></span> Geburtsdatum:</th>
                                    <td class="col-sm-8" th:text="${person.participantProfile.dateOfBirth} ? ${{person.participantProfile.dateOfBirth}} : '---'">30.02.1999</td>
                                </tr>
                                <tr class="row" th:if="${person.participant}">
                                    <th class="col-sm-4"><span class="glyphicon glyphicon-cutlery"></span> Ernährung:</th>
                                    <td class="col-sm-8" th:text="${person.participantProfile.eatingHabits}">Veganer, Laktose-intolerant</td>
                                </tr>
                                <tr class="row" th:if="${person.participant}">
                                    <th class="col-sm-4"><span class="glyphicon glyphicon-bed"></span> Allergien o.ä.:</th>
                                    <td class="col-sm-8" th:text="${person.participantProfile.healthImpairments}">Heuschnupfen</td>
                                </tr>
                                <tr class="row" th:if="${person.participant}">
                                    <th class="col-sm-4"><span class="glyphicon glyphicon-tree-deciduous"></span> NABU-Mitglied:</th>
                                    <td class="col-sm-8" th:if="${person.getParticipantProfile().isNabuMember()}" th:text="|Mitgliedsnummer: ${person.participantProfile.nabuMembership.membershipNumber ?: 'unbekannt'}|">Mitgliedsnummer: 9874563</td>
                                    <td class="col-sm-8" th:unless="${person.getParticipantProfile().isNabuMember()}">kein Mitglied</td>
                                </tr>
                                <tr class="row" th:if="${person.participant}">
                                    <th class="col-sm-4"><span class="glyphicon glyphicon-grain"></span> Bemerkungen:</th>
                                    <td class="col-sm-8" th:text="${person.participantProfile.remarks}">Schwimmerlaubnis</td>
                                </tr>
                                <tr class="row" th:unless="${person.participant}">
                                    <td colspan="2" class="col-sm-12 text-center bold">die Person nimmt an keinen Camps teil</td>
                                </tr>
                            </tbody>
                        </table>
                    </section>
                </div>

                <!-- activist overview -->
                <div class="col-sm-5">
                    <section class="panel panel-default">
                        <input type="hidden" id="person-is-activist" value="false" th:value="${person.activist}" />
                        <input type="hidden" id="activist-has-juleica" value="false" th:value="${person.activist} ? ${person.getActivistProfile().hasJuleica()} : 'false'" />
                        <header class="panel-heading clearfix">
                            <h2 class="panel-title pull-left" style="margin-top: 7.5px; margin-right: 2em;">Aktiven-Details</h2>
                            <div class="input-group pull-right" style="margin-left: 1em;">
                              <button type="button" class="btn btn-default" data-toggle="modal" data-target="#edit-activist-modal"><span class="glyphicon glyphicon-pencil"></span> Anpassen</button>
                           </div>
                        </header>
                        <table class="table" th:if="${person.activist}">
                            <tbody>
                                <tr class="row">
                                    <th class="col-sm-4"><span class="glyphicon glyphicon-map-marker"></span> Ortsgruppe:</th>
                                    <td class="col-sm-8" th:if="${localGroups}">
                                        <a class="label label-primary" th:each="localGroup : ${localGroups}" href="localGroupDetails.html" th:href="@{/localGroups/{id}(id=${localGroup.id})}" th:text="${localGroup.name}">NAJU Freiberg</a>
                                    </td>
                                    <td class="col-sm-8" th:unless="${localGroups}">keine</td>
                                </tr>
                                <tr class="row">
                                    <th class="col-sm-4"><span class="glyphicon glyphicon-credit-card"></span> Juleica:</th>
                                    <td class="col-sm-8" th:if="${person.getActivistProfile().hasJuleica()}">Ablaufdatum: <span th:text=" ${person.activistProfile.juleicaCard.expiryDate} ? ${{person.activistProfile.juleicaCard.expiryDate}} : 'unbekannt'">01.02.2011</span></td>
                                    <td class="col-sm-8" th:unless="${person.getActivistProfile().hasJuleica()}">keine</td>
                                </tr>
                                <tr class="row">
                                    <th class="col-sm-4"><span class="glyphicon glyphicon-briefcase"></span> Vorstand:</th>
                                    <td class="col-sm-8" th:if="${boards}">
                                        <a class="label label-primary" th:each="localGroup : ${boards}" href="localGroupDetails.html" th:href="@{/localGroups/{id}(id=${localGroup.id})}" th:text="|${localGroup.name}|">NAJU Freiberg</a>
                                    </td>
                                    <td class="col-sm-8" th:unless="${boards}">in keinem Vorstand aktiv</td>
                                </tr>
                            </tbody>
                        </table>
                        <section class="panel-body" th:unless="${person.activist}">
                            <p>
                                Die Person ist kein Aktiver
                            </p>
                        </section>
                    </section>
                </div>

                <!-- parents -->
                <div class="col-sm-5">
                    <section class="panel panel-default">
                        <header class="panel-heading clearfix">
                            <h2 class="panel-title pull-left" style="margin-top: 7.5px; margin-right: 2em;">Eltern</h2>
                            <div class="input-group pull-right" style="margin-left: 1em;">
                                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#connect-parent-modal" th:if="${person.parentProfileMayBeConnected()}"><span class="glyphicon glyphicon-plus"></span> Hinzufügen</button>
                            </div>
                        </header>
                        <table class="table" th:if="${person.hasParents()}">
                            <tbody th:remove="all-but-first">
                                <tr th:each="parent : ${person.parentProfiles}">
                                    <td th:text="${parent.name}">Heinz Kunz</td>
                                    <td><span class="glyphicon glyphicon-envelope"></span> <a href="mailto:heinzk@gmx.net" th:href="|mailto:${parent.email}|" th:text="${parent.email}">heinzk@gmx.net</a>
                                    <span th:if="${parent.email == null} OR ${parent.email.empty}">---</span></td>
                                    <td>
                                        <span class="glyphicon glyphicon-phone"></span> <span th:text="${parent.phoneNumber}">0123 4567890</span>
                                        <span th:if="${parent.phoneNumber == null} OR ${parent.phoneNumber.empty}">---</span></td>
                                </tr>
                                <tr>
                                    <td>Siglinde Kunz</td>
                                    <td><span class="glyphicon glyphicon-envelope"></span> <a href="mailto:skung@gmx.net">skung@gmx.net</a></td>
                                    <td><span class="glyphicon glyphicon-phone"></span> 0123 4567890</td>
                                </tr>
                            </tbody>
                        </table>
                        <section class="panel-body" th:unless="${person.hasParents()}">
                            Keine Eltern angegeben.
                        </section>
                    </section>
                </div>

            </div>

            <!-- referent overview -->
            <div class="row">

                <!-- referent overview -->
                <div class="col-sm-12">
                    <section class="panel panel-default" id="qualifications">
                        <header class="panel-heading clearfix">
                            <h2 class="panel-title pull-left" style="margin-top: 7.5px; margin-right: 2em;">Referenten-Details - <small>Qualifikationen</small></h2>
                            <div class="input-group pull-right" style="margin-left: 1em;">
                              <button type="button" class="btn btn-default" data-toggle="modal" data-target="#add-qualification-modal"><span class="glyphicon glyphicon-plus"></span> Hinzufügen</button>
                           </div>
                           <form class="form-inline pull-right">
                              <div class="form-group">
                                 <label class="sr-only" for="qualifications">Name oder Beschreibung</label>
                                 <div class="input-group">
                                    <input type="text" class="form-control fuzzy-search" id="qualifications" name="qualifications" placeholder="Name oder Beschreibung"/>
                                    <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
                                 </div>
                              </div>
                           </form>
                        </header>
                        <div class="list-group qualification-list" th:if="${person.referent}" th:remove="all-but-first">
                            <button type="button" class="list-group-item" data-toggle="modal" data-target="#delete-qualification-modal" data-qualification="Erste-Hilfe-Kurs" th:each="qualification : ${person.referentProfile.qualifications}" th:attr="data-qualification=${qualification.name}"><span class="qualification-title" th:text="${qualification.name}">Erste-Hilfe-Kurs</span> <small class="qualification-description" th:text="${qualification.description}">der Referent darf grundlegende Ersthilfe-Kurse leiten</small></button>
                            <button type="button" class="list-group-item" data-toggle="modal" data-target="#delete-qualification-modal" data-qualification="Storchenkoffer"><span class="qualification-title">Storchenkoffer</span> <small class="qualification-description">der Referent wurde für das "Ein Storch auf Reisen" Projekt weitergebildet</small></button>
                            <button type="button" class="list-group-item" data-toggle="modal" data-target="#delete-qualification-modal" data-qualification="Öffentlichkeitsarbeit"><span class="qualification-title">Öffentlichkeitsarbeit</span> <small class="qualification-description">der Referent kann Workshops zum Thema Öffentlichkeitsarbeit leiten</small></button>
                        </div>
                        <section class="panel-body" th:if="${person.referent} AND ${!person.getReferentProfile().getQualifications().iterator().hasNext()}">
                            Die Person hat noch keine Qualifikationen
                        </section>
                        <section class="panel-body" th:unless="${person.referent}">
                            <p>
                                Die Person ist kein Referent
                            </p>
                        </section>
                    </section>
                </div>

            </div>

    </section>

    <!-- initialize search bar -->
    <script type="text/javascript">
        var fuzzyOptions = {
           searchClass: "fuzzy-search",
           location: 0,
           distance: 150,
           threshold: 0.4,
           multiSearch: true
         };
         var options = {
            listClass: "qualification-list",
            valueNames: ['qualification-title', 'qualification-description'],
            plugins: [ListFuzzySearch(fuzzyOptions)]
         };
         new List('qualifications', options)
    </script>

</main>
<input type="hidden" id="csrf" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
<script src="../static/resources/js/init.js" th:src="@{/resources/js/init.js}"></script>
<script src="../static/resources/js/displayMatchingPersons.js" th:src="@{/resources/js/displayMatchingPersons.js}"></script>
<script src="../static/resources/js/personSearch.js" th:src="@{/resources/js/personSearch.js}"></script>
<script src="../static/resources/js/personDetails.js" th:src="@{/resources/js/personDetails.js}"></script>
</body>
</html>
